@import url(https://fonts.googleapis.com/css?family=Montserrat);
$cornflower-blue: #6078EA;
$tundora: #4B4848;


.content {
    font-family: 'Noto Sans KR', sans-serif;
}

.chartarea{
    display: flex;
    margin-top:30px;
    flex-direction: row;
    justify-content: center;
}

.card{
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 0px 8px 15px rgba($tundora, 0.1);
}
.title-top {
    color: $cornflower-blue;
}
