{% load sass_tags %}
{% load static %}
{% block content %}

{% block scss %}
<link rel="stylesheet" href="{% sass_src 'css/outcome.scss' %}" type="text/css">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'outcome' %}">분석결과</a>
    <h2>{{title}}</h2>
    {% if pnrate > 0.5 %}
        이것은 긍정적 반응 얻는 중!<br>
    {% else %}
        이것은 부정적 반응 얻는 중!<br>
    {% endif %}
    긍정비율 : {{pnrate}}<br>
    {{day0}}
    {{day1}}
    {{day2}}
    {{day3}}
    {{day4}}
    {{day5}}
    <br>
    {% if predict == 1 %}
        성공할 것으로 예측됩니다!<br>
    {% else %}
        안타깝지만.. 실패할 것으로 예측됩니다!<br>
    {% endif %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0"> 노드 업로드 시각 분포</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="grid">
                    <div class="grid-body">
                        <div class="item-wrapper">
                            <canvas id="chartjs-staked-line-chart" width="600" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0"> 협업 스타일</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="grid">
                    <div class="grid-body">
                        <div class="item-wrapper">
                            <canvas id="chartjs-radar-chart" width="600" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
</body>
</html>
{% block JS %}
<script src="{% static 'vendor/label-free-bootstrap/template.js' %}"></script>
<script src="{% static 'vendor/label-free-bootstrap/Chart.min.js' %}"></script>
<script src="{% static 'vendor/label-free-bootstrap/chartjs.addon.js' %}"></script>

<script>
$(function () {

    'use strict';
    var graph_datas_2 = `{{graph_datas_2}}`.replaceAll('&#x27;','');
    var graph_datas_2_2 = graph_datas_2.replaceAll('[','');
    var a = graph_datas_2_2.replaceAll(']','');
    var b = a.replaceAll(',{','');
    var c = b.replaceAll('{','');
    var graph_datas_split = c.split('}');
    var users_arr = new Array();
    var all_contri_arr = new Array();
    var save_len = new Array();

    for(var i=0;i<graph_datas_split.length-1;i++){

        var d = graph_datas_split[i];
        var elements = d.split(',');
        const new_elements = elements.filter(Boolean);
        var contribute_arr = new Array();  
        for (let x=0; x<new_elements.length; x++){
                var new_data = new_elements[x]
                var test = new_data.split(':')
                var users = test[0];
                var contribute_num = test[1]
                users_arr[x] = users;
                contribute_arr[x] = contribute_num;       
        }
        save_len[i] = contribute_arr.length;
        

        for(var j=0;j<new_elements.length;j++){
            var test = new_elements[j].split(':')
            var users = test[0];
            var contribute_num = test[1]
            users_arr[j] = users;
            contribute_arr[j] = contribute_num;
        }
        all_contri_arr[i] = contribute_arr
        
    }
    
    
    var Fix_Data = new Array(users_arr.length);

    var len = Math.max.apply(null, save_len);

    for (var i = 0; i < Fix_Data.length; i++) {
        Fix_Data[i] = new Array(5);
    }

    for (var x= 0; x<all_contri_arr.length; x++){ 

        for (var y=0; y<len; y++){
            Fix_Data[y][x] = all_contri_arr[x][y];
        }
    }
    
    console.log(Fix_Data);
    var Arr_Data = new Array();
    for (let i = 0; i <= all_contri_arr.length; i++) {
        let Data = {
                label:users_arr[i],
                data: Fix_Data[i],
                backgroundColor: chartColors[i],
                borderColor: chartColors[i],
                borderWidth: 2,
                fill: false,
                }
        Arr_Data[i] = Data;
    }

    
    console.log(Arr_Data);
        

    if ($("#chartjs-staked-area-chart").length) {
        var options = {
        type: 'line',
        data: {
            labels: ["1분기", "2분기", "3분기", "4분기", "5분기"],
            datasets:Arr_Data,
            
            
        },
        options: {
            scales: {
            yAxes: [{
                ticks: {
                reverse: false
                }
            }]
            },
            legend: false
        }
        }

        var ctx = document.getElementById('chartjs-staked-area-chart').getContext('2d');
        new Chart(ctx, options);
    }
    var graph_datas_3 = `{{graph_datas_3}}`.replaceAll("[", "");
    graph_datas_3 = graph_datas_3.replaceAll("]", "");
    var nodes_data = graph_datas_3.split(',')

    if ($("#chartjs-staked-line-chart").length) {
        var options = {
        type: 'line',
        data: {
            labels: ['', "1분기", "2분기", "3분기", "4분기",'5분기'],
            datasets: [{
                label: '# of Nodes',
                data: nodes_data,
                borderWidth: 2,
                backgroundColor: chartColors[10],
                borderColor: chartColors[10],
                borderWidth: 0
            }
            ]
        },
        options: {
            scales: {
            yAxes: [{
                ticks: {
                reverse: false
                }
            }]
            },
            fill: false,
            legend: false
        }
        }

        var ctx = document.getElementById('chartjs-staked-line-chart').getContext('2d');
        new Chart(ctx, options);
    }


    if ($("#chartjs-staked-bar-chart").length) {
        var BarData = {

        labels: ['', "1분기", "2분기", "3분기", "4분기",'5분기'],
        datasets: [{
            label: 'Profit',
            data: nodes_data,
            backgroundColor: chartColors[4],
            borderColor: chartColors[4],
            borderWidth: 0
            },
        ]

        };
        var barChartCanvas = $("#chartjs-staked-bar-chart").get(0).getContext("2d");
        var barChart = new Chart(barChartCanvas, {
        type: 'bar',
        data: BarData,
        options: {
            tooltips: {
            mode: 'index',
            intersect: false
            },
            responsive: true,
            scales: {
            xAxes: [{
                stacked: true,
            }],
            yAxes: [{
                stacked: true
            }]
            },
            legend: false
        }
        });
    }

     if ($("#chartjs-radar-chart").length) {
            var marksCanvas = document.getElementById("chartjs-radar-chart");

            var marksData = {
                labels: ["일정", "조율", "대답", "주장", "동의", "무관심"],
                datasets: [{
                    label: "sea",
                    data: [24, 55, 30, 56, 60, 11],
                    backgroundColor: chartColors[0],
                    borderColor: chartColors[0],
                    borderWidth: 0
                }, 
                {
                    label: "ina",
                    data: [54, 65, 60, 70, 70, 0],
                    backgroundColor: chartColors[1],
                    borderColor: chartColors[1],
                    borderWidth: 0
                },
                {
                    label: "hyeseon",
                    data: [66, 13, 33, 57, 50, 16],
                    backgroundColor: chartColors[2],
                    borderColor: chartColors[2],
                    borderWidth: 0
                },
                {
                    label: "jaehoon",
                    data: [85, 45, 16, 76, 50, 8],
                    backgroundColor: chartColors[3],
                    borderColor: chartColors[3],
                    borderWidth: 0
                },
                {
                    label: "guest",
                    data: [76, 85, 46, 95, 26, 90],
                    backgroundColor: chartColors[4],
                    borderColor: chartColors[4],
                    borderWidth: 0
                },
                {
                    label: "kpmg",
                    data: [65, 80, 49, 77, 80, 11],
                    backgroundColor: chartColors[0],
                    borderColor: chartColors[0],
                    borderWidth: 0
                }, 
                ]
            };

            var radarChart = new Chart(marksCanvas, {
                type: 'radar',
                data: marksData
            });
        }
    var graph_datas_1 = `{{graph_datas_1}}`.replaceAll('&#x27;','');
    graph_datas_1 =graph_datas_1.replaceAll('{','');
    graph_datas_1 =graph_datas_1.replaceAll('}','');
    var graph_datas_1_2 = graph_datas_1.split(',');
    var user_arr = new Array();
    var comment_arr = new Array();

    for(i=0; i<graph_datas_1_2.length; i++){
        var user = graph_datas_1_2[i].split(':')[0];
        var comment_num = graph_datas_1_2[i].split(':')[1]

        user_arr[i] = user;
        if(comment_num=='0'){
            comment_num[i] ='0.001';
        }
        else{
            comment_arr[i] = comment_num;
        }
        
    }

    var graph_datas_2 = `{{graph_datas_2}}`;

    if ($("#chartjs-doughnut-chart").length) {
        var DoughnutData = {
        datasets: [{
            data: comment_arr,
            backgroundColor: chartColors,
            borderColor: chartColors,
            borderWidth: chartColors
        }],
        labels: user_arr
        };
        var DoughnutOptions = {
        responsive: true,
        animation: {
            animateScale: true,
            animateRotate: true
        }
        };
        var doughnutChartCanvas = $("#chartjs-doughnut-chart").get(0).getContext("2d");
        var doughnutChart = new Chart(doughnutChartCanvas, {
        type: 'doughnut',
        data: DoughnutData,
        options: DoughnutOptions
        });
    }

    if ($("#chartjs-pie-chart").length) {
        var PieData = {
        datasets: [{
            data: comment_arr,
            backgroundColor: chartColors,
            borderColor: chartColors,
            borderWidth: chartColors
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: user_arr
        };
        var PieOptions = {
        responsive: true,
        animation: {
            animateScale: true,
            animateRotate: true
        }
        };
        var pieChartCanvas = $("#chartjs-pie-chart").get(0).getContext("2d");
        var pieChart = new Chart(pieChartCanvas, {
        type: 'pie',
        data: PieData,
        options: PieOptions
        });
    }
    });

</script>
{% endblock %}


{% endblock %}