{% load sass_tags %}
{% load static %}
{% block content %}

{% block scss %}
<link rel="stylesheet" href="{% sass_src 'css/outcome.scss' %}" type="text/css">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div class="title">
            <h2>{{title}}</h2>
            {% if predict == 1 %}
                예측 결과, 성공할 것으로 보입니다!<br>
            {% else %}
                예측 결과, 실패할 것으로 보입니다!<br>
            {% endif %}
        </div>
        <div class="chartarea">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0"> 댓글 긍정 부정</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="grid">
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <canvas id="chartjs-staked-pie-chart" width="600" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0"> 일일 펀딩 수</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="grid">
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <canvas id="chartjs-staked-line-chart" width="600" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="footer">
            <button class="Button leftbtn"><a href = {{origin_url}}>펀딩 자세히 보러 가기</a></button>
            <button class="Button rightbtn"><a href = "{% url 'index' %}">다른 펀딩 예측하러 가기</a></button>
        </div>
    </div>
</body>
</html>
{% block JS %}
<script src="{% static 'vendor/label-free-bootstrap/template.js' %}"></script>
<script src="{% static 'vendor/label-free-bootstrap/Chart.min.js' %}"></script>
<script src="{% static 'vendor/label-free-bootstrap/chartjs.addon.js' %}"></script>
<script>
    var pnrate = `{{pnrate}}`
    var pnrate_list = [pnrate, 1-pnrate]
    var ctx1 = document.getElementById('chartjs-staked-pie-chart');
    var chartjsstakedpiechart = new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: ['긍정', '부정'],
            datasets: [{
                label: '# of Votes',
                data: pnrate_list,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    var commentnum_list = [`{{day0}}`,`{{day1}}`, `{{day2}}`, `{{day3}}`, `{{day4}}`,`{{day5}}`];
    var success_commentnum_list = [43, 16, 9, 7, 6, 5];
    var ctx2 = document.getElementById('chartjs-staked-line-chart');
    console.log(commentnum_list);


    const data = {
        labels: ['첫째 날', '둘째 날', '셋째 날', '넷째 날', '다섯째 날', '여섯째 날'],
        datasets: [
            {
            label: '타겟',
            data: commentnum_list,
            borderColor: 'rgb(75, 192, 192)',
            yAxesID: 'y',
            },
            {
            label: '성공',
            data: success_commentnum_list,
            borderColor: 'rgba(54, 162, 235, 1)',
            yAxesID: 'y1',
            }
        ]
    };
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
        stacked: false,
        scales: {
            y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                    beginAtZero: true,
                    },
            y1: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                    beginAtZero: true,
                    }
            },
        }
    };

    const chartjsstakedlinechart = new Chart(ctx2, config);
    
    </script>
{% endblock %}


{% endblock %}